.kaufman__triangle {
  background: url(../../../images/triangle.svg);
  background-size: cover;
  right: -210px;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  bottom: 0;
  z-index: 0;
}
