@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}