.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-style: normal;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 0 24px 0 24px; 
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 0 16px 0 16px; 
  }
}